.certificado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.baixar{
    border: none;
    padding: 10px;
    background-color: #69A120;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.baixar:hover{
    cursor: pointer;
    background-color: #517e17;
}

.deletar{
    border: none;
    padding: 10px;
    background-color: #A12020;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.deletar:hover{
    cursor: pointer;
    background-color: #7c1a1a;
}